html,body {
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body {
display:flex;
}

.center {
    margin: auto
}

.main {
    @extend .flex;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
